* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: white;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 50px;
}

#title {
    font-size: 24px;
    margin: 0;
    display: flex;
    color: #459E85;
}

#cart-booking {
    display: flex;
    gap: 20px;
}

#cart, #bookings {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}

#background {
    margin: 0;
    background-image: url("./images/background.jpg");
    height: 100vh;
    background-size: cover;
}

#bookings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 50%;             /* Ajuste selon tes besoins */
    padding: 40px;          /* Espace interne important */
    border-radius: 10px;    
}

#background-book {
    background-color: #EFF2F1;
    min-height: calc(100vh - 80px);
    display : flex;
    justify-content: center;
    align-items: center;
}

#bookings {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 25px; /* Espace sous le titre */
}

#enjoy {
    color: #469C84;  /* Le vert Tickethack */
    font-size: 0.9rem;
    margin-top: 30px; /* Espace au-dessus du message */
}

#bookings-results {
    width: 100%;             
    background-color: #F5EEEE; 
    border-radius: 5px;      
    padding: 30px 0;         
    margin: 20px 0;         
    
    display: flex;
    justify-content: center; /* Centre la ligne à l'intérieur */
}

.booking-item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 90%;                    
    padding: 10px 0;             
    font-size: 0.9rem;
    color: #333;
}

#separator {
    width: 20%;
    border: none;
    border-top: 2px solid #030000;
    margin-top: 40px;    
    margin-bottom: 5px;
}