* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#header {
  background-color: white;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 50px;
}

#title {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 24px;
  margin: 0;
  display: flex;
  color: #4faa91;
}

#cart-booking {
  display: flex;
  gap: 20px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

#cart,
#bookings {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

#background {
  background-image: url("./images/background.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blocks-container {
  display: flex;
  justify-content: center;
  gap: 150px;
}

#text {
  padding: 20px;
  text-align: center;
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

#text h2 {
  margin: 10px;
  font-weight: 500;
}

#text h4 {
  margin: 20px;
  font-weight: 100;
}

#search-container {
  background-color: white;
  border-radius: 8px;
  padding: 30px 20px;
  width: 40%;
  height: 140%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#response-container {
  background-color: white;
  border-radius: 8px;
  width: 40%;
  height: 140%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.input {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  background-color: rgb(237, 237, 237);
}

#departure-input {
  border-bottom: solid lightgrey 2px;
}

#search-button {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  background-color: #4faa91;
  color: white;
}

#train {
  height: 30%;
}

#response-container h4 {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 500;
  text-align: center;
}

#response-container hr {
  width: 70%;
  border: #4faa91 solid 1px;
}

#bookings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 50%; /* Ajuste selon tes besoins */
  padding: 40px; /* Espace interne important */
  border-radius: 10px;
}

#background-book {
  background-color: #eff2f1;
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#mybookings {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 25px; /* Espace sous le titre */
}

#enjoy {
  color: #469c84; /* Le vert Tickethack */
  font-size: 0.9rem;
  margin-top: 30px; /* Espace au-dessus du message */
}

.trip-card {
  width: 100%;
  background-color: #f5eeee;
  border-radius: 5px;
  padding: 30px 0;
  margin: 20px 0;

  display: flex;
  justify-content: center; /* Centre la ligne à l'intérieur */
}

.booking-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 10px 0;
  font-size: 0.9rem;
  color: #333;
}

#separator {
  width: 20%;
  border: none;
  border-top: 2px solid #030000;
  margin-top: 40px;
  margin-bottom: 5px;
}
